@model IEnumerable<ARS_Main.Models.Flight>

@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/_VietUserLayoutPage2.cshtml";
}

<h2>Search Results</h2>

<center>
    <table class="table">
        <thead>
            <tr>
                <th>Plane Name</th>
                <th>From</th>
                <th>To</th>
                <th>Departure Date</th>
                <th>Departure Time</th>
                <th>Arrival Date</th>
                <th>Arrival Time</th>
                <th>Price</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach(var item in ViewBag.ss)
            {
                <tr>
                    <td>
                        @{ 
                            int pi = int.Parse(item.PlaneId.ToString());
                            var dd = new ARS_Main.Models.ApplicationDbContext();
                            var pname = dd.Planes.Where(a => a.PlaneID == pi).FirstOrDefault();
                            @pname.PlaneName
                        }
                    </td>

                    <td>@item.From</td>
                    <td>@item.To</td>
                    <td>@item.DepDate</td>
                    <td>@item.DepTime</td>
                    <td>@item.ArDate</td>
                    <td>@item.ArTime</td>
                    <td>@item.Price</td>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("Booking", "Passengers", new { @fid = @item.ID})" class="btn btn-success">Book Flight Now</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Login", "Account")" class="btn btn-success">Please login for Booking</a>   
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</center>

