@model IEnumerable<WebARS.Models.FlightSchedule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover" id="flightschedule">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight.FlightNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.FlightNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Arrival)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FlightNo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FlightNo }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FlightNo })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script type="text/javascript">
        $('#flightschedule').DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
        });
    </script>
}
